<?xml version="1.0" encoding="UTF-8"?>

<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <ComponentGroup Id="EntityFrameworkFiles" Directory="INSTALLFOLDER">
      <Component Id="EntityFramework" Guid="fac3445d-cf87-4ad1-85ee-7a1ea6d075b9">
        <File Source="$(var.AirManager.TargetDir)EntityFramework.dll" KeyPath="yes" />
      </Component>
      <Component Id="EntityFrameworkSeeder" Guid="473015e0-74b3-494a-b774-40c6c7953e7f">
        <File Source="$(var.AirManager.TargetDir)EntityFramework.Seeder.EF6.dll" KeyPath="yes" />
      </Component>
      <Component Id="EntityFrameworkSqlServer" Guid="2aecc0c6-4371-49c3-aa95-9f6547768370">
        <File Source="$(var.AirManager.TargetDir)EntityFramework.SqlServer.dll" KeyPath="yes" />
      </Component>
      <Component Id="EntityFrameworkSqlServerCompact" Guid="54accb17-96db-49df-851d-98ef3faf6b52">
        <File Source="$(var.AirManager.TargetDir)EntityFramework.SqlServerCompact.dll" KeyPath="yes" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>