<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
    <ComponentGroup Id="InteractivityLanguages">
      <Component Id="GermanInteractivity" Guid="68950fa1-736d-4fe5-866b-6a883cb9b5a9" Directory="DE">
        <File Id="German" Source="$(var.AirManager.TargetDir)de/System.Windows.Interactivity.resources.dll" KeyPath="yes" />
      </Component>
      <Component Id="EnglishInteractivity" Guid="c00f404b-fa31-4627-8452-37db083feb4f" Directory="EN">
        <File Id="English" Source="$(var.AirManager.TargetDir)en/System.Windows.Interactivity.resources.dll" KeyPath ="yes" />
      </Component>
      <Component Id="SpanishInteractivity" Guid="5f6592f6-8629-444a-baee-d8b1cfe5f4e0" Directory="ES">
        <File Id="Spanish" Source="$(var.AirManager.TargetDir)es/System.Windows.Interactivity.resources.dll" KeyPath ="yes" />
      </Component>
      <Component Id="FrenchInteractivity" Guid="72fc26cf-46d3-43fc-80e7-dad6d6c7584e" Directory="FR">
        <File Id="French" Source="$(var.AirManager.TargetDir)fr/System.Windows.Interactivity.resources.dll" KeyPath ="yes" />
      </Component>
      <Component Id="ItalianInteractivity" Guid="12190a1b-ebb3-404b-98c0-08f11450f241" Directory="IT">
        <File Id="Italian" Source="$(var.AirManager.TargetDir)it/System.Windows.Interactivity.resources.dll" KeyPath ="yes" />
      </Component>
      <Component Id="JapaneseInteractivity" Guid="c391c471-1506-4faa-b321-dc88fbfe525a" Directory="JA">
        <File Id="Japanese" Source="$(var.AirManager.TargetDir)ja/System.Windows.Interactivity.resources.dll" KeyPath ="yes" />
      </Component>
      <Component Id="KoreanInteractivity" Guid="565ebe0e-3576-431b-88ce-0073ea65e359" Directory="KO">
        <File Id="Korean" Source="$(var.AirManager.TargetDir)ko/System.Windows.Interactivity.resources.dll" KeyPath ="yes" />
      </Component>
      <Component Id="RussianInteractivity" Guid="01f96508-40e3-4817-90c2-9aa15090a2c5" Directory="RU">
        <File Id="Russian" Source="$(var.AirManager.TargetDir)ru/System.Windows.Interactivity.resources.dll" KeyPath ="yes" />
      </Component>
      <Component Id="SimplifiedInteractivity" Guid="c1c6c58c-e899-442c-9cbc-aed008ee304d" Directory="HANS">
        <File Id="Simplified" Source="$(var.AirManager.TargetDir)zh-Hans/System.Windows.Interactivity.resources.dll" KeyPath ="yes" />
      </Component>
      <Component Id="TraditionalInteractivity" Guid="5ec1664e-af99-446d-94bd-be05f82a0145" Directory="HANT">
        <File Id="Traditional" Source="$(var.AirManager.TargetDir)zh-Hant/System.Windows.Interactivity.resources.dll" KeyPath="yes" />
      </Component>
    </ComponentGroup>
	</Fragment>
</Wix>