<?xml version="1.0" encoding="UTF-8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?define VERSION=!(bind.FileVersion.$(var.AirManager.TargetFileName)) ?>
  <Product Id="*" Name="Air Manager $(var.VERSION)" Language="1033" Version="$(var.VERSION)" Manufacturer="Dieter Lunn"
           UpgradeCode="4d71702f-d898-431a-8875-28f06fa3c61f">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate />

    <Feature Id="ProductFeature" Title="Air Manager" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />

    <UIRef Id="WixUI_Mondo" />
    <UIRef Id="WixUI_ErrorProgressText" />
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="AirManager">
          <Directory Id="AMD64Dir" Name="amd64">
            <Directory Id="VC64" Name="Microsoft.VC90.CRT"/>
          </Directory>
        
          <Directory Id="X86Dir" Name="x86">
            <Directory Id="VC32" Name="Microsoft.VC90.CRT" />
          </Directory>
        
          <Directory Id="DE" Name="de" />
          <Directory Id="EN" Name="en" />
          <Directory Id="ES" Name="es" />
          <Directory Id="FR" Name="fr" />
          <Directory Id="IT" Name="it" />
          <Directory Id="JA" Name="ja" />
          <Directory Id="KO" Name="ko" />
          <Directory Id="RU" Name="ru" />
          <Directory Id="HANS" Name="zh-Hans" />
          <Directory Id="HANT" Name="zh-Hant" />

        </Directory>
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="AirManagerExe" Guid="29d660dd-daa6-4f2f-989f-5f7061051f6d">
        <File Id="AirManager.exe" Source="$(var.AirManager.TargetPath)" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Id="AirManagerConfig" Guid="707af917-7034-4b7c-ac26-0bab306bd7c7">
        <File Source="$(var.AirManager.TargetDir)AirManager.exe.config" KeyPath="yes" />
      </Component>
      <Component Id="AirManagerAirlines" Guid="db002946-5c70-4d1c-ae64-5c0a4455f716">
        <File Source="$(var.AirManager.TargetDir)AirManager.Airlines.dll" KeyPath="yes" />
      </Component>
      <Component Id="AirManagerInfrastructure" Guid="fb28e65d-ca7f-4799-83fc-e6d47c8b087a">
        <File Source="$(var.AirManager.TargetDir)AirManager.Infrastructure.dll" KeyPath="yes" />
      </Component>
      <Component Id="AirManagerMenus" Guid="d78a986d-ba5c-4a3c-bb23-e633469e85af">
        <File Source="$(var.AirManager.TargetDir)AirManager.Menus.dll" KeyPath="yes" />
      </Component>
      <Component Id="Json" Guid="4638e7ef-9d69-4d2f-91cb-b9444acfa55f">
        <File Source="$(var.AirManager.TargetDir)Newtonsoft.Json.dll" KeyPath="yes" />
      </Component>
      <Component Id="CsvHelper" Guid="957709b9-1ea4-4f8f-82d5-b3bffa58ff24">
        <File Source="$(var.AirManager.TargetDir)CsvHelper.dll" KeyPath="yes" />
      </Component>

      <ComponentGroupRef Id="SqlCEFiles" />

      <!--<ComponentGroupRef Id="InteractivityLanguages" />-->

      <ComponentGroupRef Id="EntityFrameworkFiles" />

      <ComponentGroupRef Id="EnterpriseLibraryFiles" />

      <ComponentGroupRef Id="PrismFiles" />
    </ComponentGroup>
  </Fragment>
</Wix>